main {
    background-image: url(../images/main_bg.jpg);

}

// ---------------------- section-1 --------------------------
.tabs{
    

        
        button:hover {
            border-right: solid 6px  #b1293a !important ;
            background-color: transparent ;
            i{
                color:#b1293a ;
            }

        }  
    
}
.tab-content {
    width: 100%;
}
.cardMenu{
    width: 50%;
    border-bottom: 2px solid gray;
}
.btn-menu{
    width: 100%;
    height: 137px;    
}
.imageMenu{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(195, 193, 193);
}
.textMenu{
    font-size: 12px;
    .cardtitre{
        font-size: 15px;
    }
}
.section-1,
.section-3 {
    .feleuie{
        width: 80% !important;

    }
    .paragraphe {
        width: 60%;
    }
    
}

// ---------------------- end section-1 --------------------------
// ---------------------- section-2 --------------------------
.section-2 {
    background-image: url(../images/team_background.jpg);
}

// ---------------------- end section-2 --------------------------
// ---------------------- section-3 --------------------------
.section-3 {
    .image-forme {
        background-image: url(../images/book_table_bg.jpg);
        background-size: cover;
        background-position: center;
    }


    .blog {

        .image_blog {
            img {
                height: 20vw;
                width: 30vw;
                border: solid 5px rgb(212, 212, 212);
                border-radius: 10px;
            }

            position: relative;

            .text_blog {
                height: 4vw;
                width: 25vw;
                font-size: 1.2vw;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// ---------------------- end section-3 --------------------------

// ---------------------- section-4 --------------------------
.section-4 {
    background-image: url(../images/testimonials_background.jpg);

    .client {
        .image {
            img {
                height: 200px;
                width: 200px;
                border: solid 4px white;
                border-radius: 50%;
            }
        }
    }
}

// ---------------------- end section-4 --------------------------


// media 4K
@media (min-width: 2560px) {

    // ---------------------- section-1 --------------------------
    .section-1,
    .section-3 {        
        .titre {
            h2 {
                font-size: 60px;
            }
        }

        .images {
            margin-top: 80px !important;

            img {
                width: 200px;
                height: 200px;
            }
        }

        .paragraphe {
            font-size: 30px;
        }

        .image-forme {
            p {
                font-size: 30px;

            }
        }
        form {
            width: 70%;
        }
        
    }

    // ---------------------- end section-1 --------------------------
    // ---------------------- section-2 --------------------------
    .section-2 {
        .titre {
            h2 {
                font-size: 60px;
            }
        }

        .chef {
            img {
                width: 400px;
                height: 500px;
            }
        }

    }

    // ---------------------- end section-2 --------------------------   
    // ----------------------  section-4 --------------------------   

    .section-4 {
        .titre {
            h2 {
                font-size: 60px;
            }
        }

        .client {
            .image {
                img {
                    width: 300px;
                    height: 300px;
                }
            }

            .texte {
                h4 {
                    font-size: 35px;
                }

                p {
                    font-size: 30px;
                }
            }
        }

    }

    // ---------------------- end section-4 --------------------------  
    // ---------------------- section-5 --------------------------  
    .section-5 {
        .titre {
            h2 {
                font-size: 60px;
            }
        }

        .contact {
            i {
                font-size: 80px !important;

            }

            p {
                font-size: 30px;
            }
        }
    }

}

// ---------------------- end section-5 --------------------------  

// end media 4K
// media labtop L
@media (max-width: 1441px){
    .section-3{
        form {
            width: 70%;
        }
    }

}
// end media labtop L

// @media (min-width: 1020px){
//     .blog {

//         .image_blog {
//             img {
//                 height: 30vw;
//                 width: 45vw;
//             }
//             .text_blog {
//                 height: 4vw;
//                 width: 35vw;
//                 font-size: 2vw;                    
//             }
//         }

//     }

// }

// tablet
@media (max-width: 1020px) {
    .contact {
        width: 50% !important;
    }
    .section-3{
        form {
            width: 100%;
        }
        .blog {

            .image_blog {
                img {
                    height: 30vw;
                    width: 55vw;
                }
                .text_blog {
                    height: 6vw;
                    width: 45vw;
                    font-size: 2vw;                    
                }
            }
    
        }
    }
    .btn-menu{
        width: 600px;
        height: 137px;    
    }

    

}

// end tablet

// telephone
@media (max-width: 426px) {

    .section-1,
    .section-3 {
        .titre {
            img {
                width: 100%;
            }
        }

        .images {
            img {
                width: 80px;
                height: 80px;
            }
        }

        .paragraphe {
            width: 80%;
        }
        .tabeliste{
            display: flex ;
            justify-content: center;
            align-items: center;
        }
        .cardMenu{
            width: 100%;
        }
        .div-menu{
            width: 100% !important;
        }
        .btn-menu{
            // background-color: red !important;
            // font-size: 24px;
            width: 25%;
            height:25%;
            padding: 10px 20px;
            .font-titre{
                font-size: 14px;
            }
            
        }
        .breakFast{
            padding-right: 40px;
        }

        form {
            width: 100% !important;
        }
        .blog {

            .image_blog {
                img {
                    height: 40vw;
                    width: 65vw;
                }
                .text_blog {
                    height: 8vw;
                    width: 55vw;
                    font-size: 2.5vw;                    
                }
            }
    
        }

        
    }

    .section-2 {
        .titre {
            img {
                width: 100%;
            }
        }
    }

    .section-4 {
        .titre {
            img {
                width: 100%;
            }
        }

        .client {
            .texte {
                width: 80% !important;
                text-align: center;
            }

        }
    }

    .section-5 {
        .titre {
            img {
                width: 100%;
            }
        }

        .contact {
            width: 80% !important;
        }
    }

}

// end media telephone